pypinyin
pypinyin-dict
transformers>=4.27.0,<=4.43.2
sentencepiece
xformers==0.0.28.post3
accelerate
bitsandbytes
opencc-python-reimplemented
streamlit
uvicorn
fastapi
loguru
starlette>=0.40.0,<0.42.0
sse_starlette
